* {
    margin: 0; 
    padding: 0;
}

html { 
    background-image: linear-gradient(
        to bottom, rgba(175, 175, 175, 0.933) 0%,  rgba(17, 5, 109, 0.933) 100%);
        background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    min-height: 900px;
    min-width: 1100px;
}

body {
    background-color: rgba(175, 175, 175, 0.933);
    margin: 1em;
    padding: 1em 1.5em;
    border: 5px double black;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 5px 5px 0 0;
    height: 90%;

    /* Not sure if I want to use this or not */
    max-width: 95vw;
    
    font-size: 100%;
    min-width: 1000px;
}  

main {
    margin: auto;
}

p {
    text-indent: 2vw;
}

.first_img {
    width: 10%;
    float: right;
    margin-left: 1em;
    margin-top: 5%;
}

.second_fight {
    width: 10%;
    float: left;
    margin-right: 10em;
    margin-top: 5%;
}

.fourth_fight {
    width: 10%;
    float: left;
    margin-right: 10em;
    margin-top: 5%;
}

.title {
    width: 50%;
    margin: auto;
    text-align: center;
}

.first_p, .second_p, .third_p, .fourth_p {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    text-align: left;
    text-decoration: none;
}

.image_one {
    width: 10%;
    height: 10%; 
    float: right;
}

.contact {
    padding: 3em;
    text-align: right;
    position: fixed; 
    bottom: 0; 
    right: 0;
}

footer {
    clear: all;
    padding: 2em;
    position: absolute;
    bottom: 1em;
    right: 0;
}

@media (max-width: 1500px) {
    .contact {
        display: none;
    }
}


@media (min-width: 350px) and (max-width: 800px) {
    html { 
        height: 200%;
    }
    
    /* body {
        height: 110%;
    }   */
}

