* {
    margin: 0; 
    padding: 0;
}

html { 
    background-image: linear-gradient(
        to bottom, rgba(175, 175, 175, 0.933) 0%,  rgba(17, 5, 109, 0.933) 100%);
        background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    min-height: 750px;
}

body {
    background-color: rgba(175, 175, 175, 0.933);
    margin: 1em;
    padding: 1em 1.5em;
    border: 5px double black;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 5px 5px 0 0;
    height: 90%;
    max-width: 95vw;
    font-size: 100%;
}  

main {
    display: flex;
    justify-content: space-around;
    /* flex-basis: 100%; */
    margin-left: 40%;
    margin-right: 40%;
}

img {
    width: 100%;
    max-width: 400px;
    /* flex-basis: 50%; */
    height: auto;
}

.small_image_one {
    width: 5vw;
    max-width: 5vw;
    margin: 0;
    padding: 1vw;
    height: 5vw;
    text-align: center;
}

.small_image_two {
    width: 5vw;
    max-width: 5vw;
    margin: 0;
    padding: 1vw;
    height: 5vw;
    text-align: center;
}

.large_image {
    display: none;
    max-width: 75%;
}

.placeholder {
    display: none;
    max-width: 75%;
}

.small_image_one:hover ~ .main_box .large_image {
    display:block;
}

.small_image_two:hover ~ .main_box .placeholder {
    display:block;
}

.contact {
    padding: 3em;
    text-align: right;
    position: fixed; 
    bottom: 0; 
    right: 0;
}

.main_box {
    margin-left: 10%;
    text-align: center;
    
    position: absolute;
    top: 20%;
}

@media (max-width: 1500px) {
    .contact {
        display: none; /* Hide the contact section on small screens */
    }
}

@media (min-width: 280px) and (max-width: 350px) {

    main {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    img {
        width: 100%;
        max-width: 1800px;
        /* flex-basis: 50%; */
        height: max-content;
    }
    
    .small_image_one {
        width: 400px;
        max-width: 500px;
        margin: 10;
        padding: 20px;
        height: 500px;
        text-align: center;
    }

    .small_image_two {
        width: 400px;
        max-width: 500px;
        margin: 10;
        padding: 20px;
        height: 500px;
        text-align: center;
    }
    
    
    .large_image {
        display: none;
        max-width: 75%;
        margin-left: 20%;
    }

    .main_box {
        margin-left: 10%;
        text-align: center;
        
        position: absolute;
        top: 0%;
    }
    
}

