
body {
    background-color: rgba(175, 175, 175, 0.933);
    margin: 1em;
    border: 5px solid black;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 5px 5px 0 0;
    height: 90%;
    max-width: 100vw;

    display: grid;
    grid-template: 2fr 2fr / 2fr 2fr ;
    grid-template-areas: 
            "basicinfo retrieveinfo"
            "basicinfo retrieveinfo";
    align-items: center;
    justify-items: center;
    
}  

.form-group {
    display: contents;
}

#basic_info {
    grid-area: basicinfo;
    width: 100%;
}

#check_subscription {
    grid-area: retrieveinfo;
}


form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1vw 2vw;
    align-items: center;
    margin: 1vw 1vw 1vw 1vw;
}

label {
    grid-column: 1;
    margin: 1vw 1vw 1vw 1vw;
    width: 100%;
}

input {
    grid-column: 2;
    margin: 1vw 1vw 1vw 1vw;
}

.button-container {
    grid-column: 1 / span 2;
    justify-self: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

button {
    padding: 10px 20px;
    margin-top: 1vw;
    cursor: pointer;
    margin: 1vw 1vw 1vw 1vw;
}