* {
    margin: 0; 
    padding: 0;
}

html { 
    background-image: linear-gradient(
        to bottom, rgba(175, 175, 175, 0.933) 0%,  rgba(17, 5, 109, 0.933) 100%);
        background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    min-height: 750px;
}

body {
    background-color: rgba(175, 175, 175, 0.933);
    margin: 1em;
    padding: 1em 1.5em;
    border: 5px solid black;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 5px 5px 0 0;
    height: 90%;

    /* Not sure if I want to use this or not */
    max-width: 95vw;
    
    font-size: 100%;
}  

main {
    margin: auto;
}

ul {
    list-style-type: none;
}

p {
    padding: 1.0416% 0%;
}

a {
    text-decoration: none;
    color: rgb(0, 255, 17);
    display: block;
}

li {
    background-image: linear-gradient(
        to right, rgba(117, 112, 112, 0.933) 0%,  rgba(0, 0, 0, 0.933) 100%);
    background-repeat: repeat-y;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5em 5em 5em 5em;
    color: rgb(0, 0, 0);
    padding: 1.0416% 0%;
    margin: .5em 1em; 
    font-size: 1.2em;
    box-shadow: 5px 5px 0 0;    
}

li:hover, li:focus{
    font-size: 1.1em;
    box-shadow: 2px 2px 0 0;   
}

a:hover, a:focus {
    color: rgb(255, 255, 255);
}

textarea {
    /* padding: 1.0416% 0%;
    margin: .5em 1em; 
    display: block; */
    height: 10vh;
    width: 45vw;
    resize: none;
}

.title, .mainlink {
    width: 50%;
    margin: auto;
    text-align: center;
}

.mainlink {
    margin-top: 13%;
    margin-bottom: 15%;
}

.contact {
    padding: 2em;
    text-align: right;
    position: fixed; 
    bottom: 1%; 
    right: 0;
}
.comment-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 1em;
}

@media (max-width: 1000px) {
    .contact {
        display: none; /* Hide the contact section on small screens */
    }
}

@media (max-width:400px) {    
    li {
        font-size: 2.5vw;
    }
}

@media (min-width: 280px) and (max-width: 350px) {
    li {
        background-image: linear-gradient(
            to right, rgba(255, 255, 255, 0.933) 0%,  rgba(0, 0, 0, 0.933) 100%);
        background-repeat: repeat-y;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 5em 5em 5em 5em;
        color: rgb(0, 0, 0);  
        margin: 3.5vw 0;   
        padding: 2.5vw;
        font-size: 3vw;
        height: 10px;  
    }    
    a {
        text-decoration: none;
        color: rgb(15, 6, 255);
        display: block;
    }
    
    a:hover, a:focus {
        color: rgb(0, 0, 0);
    }
    li:hover, li:focus{
        font-size: 2.5vw;  
        box-shadow: 0;    
    }
    
}


/* 

@media (max-width:495px) {
    * {
        margin: 0; 
        padding: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        border: none;
        height: 100%;
        width: 100%;
        box-shadow: 0 0;  
        border-radius: 0 0 0 0;
    }  

    li {
        height: 100%;
        font-size: 3vw;
        box-shadow: 0 0;  
        margin: 3.5vw 0;   
        padding: 2.5vw;
    }
    
    li:hover, li:focus{
        font-size: 2.5vw;  
        box-shadow: 0;    
    }
    
    a:hover, a:focus {
        color: rgb(255, 255, 255);
    }
    
    .title {
        padding: 2vw;
        font-size: 3vw;
    }
    
} */
