* {
    margin: 0; 
    padding: 0;
}

html { 
    background-image: linear-gradient(
        to bottom, rgba(175, 175, 175, 0.933) 0%,  rgba(17, 5, 109, 0.933) 100%);
        background-repeat: repeat-x;
    height: 100%;
    /* min-width: 1000px; */
    min-height: 540px;
}

body {
    background-color: rgba(175, 175, 175, 0.933);
    margin: 1em;
    border: 5px solid black;
    /* border-radius: 1em 1em 1em 1em; */
    box-shadow: 5px 5px 0 0;
    height: 90%;
    max-width: 100vw;

    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 2fr ;
    grid-template-areas: 
            "WebP body body body"
            "Debit body body body"
            "IVR body body body"
            "AWS corner corner rcorner";
    align-items: center;
    justify-items: center;
    
}  

main {
    grid-area: body;
    font-size: 1.25vw;
}

.WebP, .Debit, .AWS, .IVR {
    height: 100%;
    width: 100%;
    min-width: 20%;
    background-image: linear-gradient(
        to right, rgba(117, 112, 112, 0.933) 0%,  rgba(0, 0, 0, 0.933) 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.WebP {
    color: rgb(0, 255, 17);
    grid-area: WebP;
}

.WebP:hover ~ main .WP {
    display: block;
}

.Debit {
    color: rgb(0, 255, 17);
    grid-area: Debit;
}

.Debit:hover ~ main .DTA {
    display: block;
}

.AWS {
    color: rgb(0, 255, 17);
    grid-area: IVR;
}

.AWS:hover ~ main .AWSC {
    display: block;
}

.IVR {
    color: rgb(0, 255, 17);
    grid-area: AWS;
}

.IVR:hover ~ main .FIVR {
    display: block;
}




.WP, .DTA, .AWSC, .FIVR  {
    display: none;
    text-indent: 2vw;
    padding: 2vw;
}

.contact {
    grid-area: rcorner;
    margin-top: auto;
    margin-right: auto;
}

@media (max-width: 1000px) {
    .contact {
        display: none; /* Hide the contact section on small screens */
    }
}

@media (max-height: 800px) {
    .contact {
        display: none; /* Hide the contact section on small screens */
    }
}
