* {
    margin: 0; 
    padding: 0;
}

html { 
    background-image: linear-gradient(
        to bottom, rgba(175, 175, 175, 0.933) 0%,  rgba(17, 5, 109, 0.933) 100%);
        background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    min-height: 750px;
}

body {
    background-color: rgba(175, 175, 175, 0.933);
    margin: 1em;
    padding: 1em 1.5em;
    border: 5px solid black;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 5px 5px 0 0;
    height: 90%;

    /* Not sure if I want to use this or not */
    max-width: 95vw;
    
    font-size: 100%;
}  

main {
    margin: auto;
}

.contact {
    padding: 2em;
    text-align: right;
    position: fixed; 
    bottom: 1%; 
    right: 0;
}